# Copy this file to .env.local and fill in the values from Firebase Console.

FIREBASE_API_KEY=AIzaSyDoOKGn_u-XK-1lfsrxY6siX4gT7qsr_2M
FIREBASE_AUTH_DOMAIN=timetablegenerator-6359b.firebaseapp.com
FIREBASE_PROJECT_ID=timetablegenerator-6359b
FIREBASE_STORAGE_BUCKET=timetablegenerator-6359b.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=730125036406
FIREBASE_APP_ID=1:730125036406:web:c354401223a989bdeb2857

# Optional
FIREBASE_WARNING_COLLECTION=siteBanner
FIREBASE_WARNING_DOCUMENT=current