@font-face {
	font-family: "Inter";
	src:
		url("/assets/font/Inter/InterVariable.ttf") format("truetype"),
}

@font-face {
	font-family: "Exo_2";
	src:
		url("/assets/font/Exo_2/Exo2-VariableFont_wght.ttf") format("truetype"),
}

:root {
	font-size: max(min(24px, 8vw), 2vw);
	--max-safe-width: calc(100vw - 2rem);
	font-family: Inter;
}

body {
	background-color: var(--bg);
	color: var(--fg);
	font-family: Inter, system-ui;
	margin: 0 auto;
	/*display: flex;
	justify-content: center;
	align-items: center;*/
	min-width: 100vw;
	/*overflow: hidden;*/
	text-overflow: clip;
	/*flex-direction: column;*/
	font-size: 16px;
	--qo: cubic-bezier(.25, 1, .5, 1); /* quadratic ease-out */
	--qs: cubic-bezier(0.4, 0.1, 0.5, 1);
}

h1 { font-size: 1.75rem; }
h2 { font-size: 1.5rem; }
h3 { font-size: 1.375rem; }
p { font-size: 1rem; }

h1, h2, h3, p {
	padding: .25rem 0;
	margin: 0;
}

hr {
	width: 100%;
	margin: 1rem 0;
	border: .04rem solid var(--gray);
}

a {
	color: var(--purple);
}

.lnk {
	color: var(--ltrans);
	font-weight: 600;
	text-decoration: none;
}

.lnk:hover {
	text-decoration: underline;
}

.is {
	min-width: 24rem;
	width: 80%;
	max-width: 32rem;
}

#share-warning {
	position: relative;
	padding: 1rem 2.5rem 1rem 1rem;
}

#share-warning .warning-close {
	position: absolute;
	top: 0.35rem;
	right: 0.35rem;
	min-width: 1.6rem;
	width: 1.6rem;
	height: 1.6rem;
	padding: 0;
	line-height: 1;
	border-radius: 50%;
	font-size: 1.2rem;
}

input {
	font-family: inherit;
	background-color: var(--bg);
	border: #888 2px solid;
	border-radius: 4px;
}

.page {
	display: flex;
	width: 100vw;
	min-height: 100vh;
	flex-wrap: wrap;
}

.pd {
	display: flex;
	min-width: min(20rem, var(--max-safe-width));
	max-width: var(--max-safe-width);
	flex: 1 1;
	color: var(--fg);
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 1rem;
}

.pd:is(:first-child) {
	background-color: var(--bg);
	align-items: baseline;
}

.pd:is(:last-child) {
	background-color: var(--bg-m);
}

#timetable {
	display: flex;
	justify-content: center;
}

#timetable > *:not(#tt) {
	max-width: calc(100% - 2rem);
}

#pre p {
	color: var(--lighter-gray)
}

.flex {
	display: flex;
	/*flex-direction: row;*/
	flex-wrap: wrap;
	gap: 0 .5rem;
}

.flex button {
	flex: 1 1;
	text-wrap: nowrap;
}

.opt {
	flex-grow: 0;
	height: min-content;
}

button {
	cursor: pointer;
	border: none;
	font-family: inherit;
	background: var(--darksky);
	color: var(--fg);
	font-size: 1rem;
	border-radius: 0.375rem;
	padding: 0.25rem 0.5rem;
	font-weight: 500;
	transition-duration: 100ms;
	outline: none;
	margin: .25rem 0;
	transition: 0.3s var(--qo);
	box-sizing: content-box;
}

button:is(.large) {
	font-size: 1.125rem;
	padding: .4rem .8rem;
	border-radius: .6rem;
}

button:is(.primary) {
	background-color: var(--purple-fg);
	color: var(--bg);
}

button:focus {
	background: var(--bg-m);
	color: var(--fg);
}

button:hover {
	background: var(--bg);
	color: var(--fg);
	scale: 1.025;
	transition-duration: .2s;
}

button:hover, button:focus {
	box-shadow: -0.25rem -0.0625rem 0.75rem #8bfc, 0.25rem 0.0625rem 0.75rem #cafc;
}

button:active {
	box-shadow: 0 0 0.75rem var(--ltrans);
	scale: 0.985;
}

button:disabled {
	color: var(--light-fg);
	background: var(--gray-bg);
	scale: 1;
}

button:disabled:hover {
	background: var(--bg);
	box-shadow: 0 0 0.75rem var(--ltrans);
}

input[type=range] {
	padding: -5rem;
	min-width: 12rem;
	background-color: var(--dark);
	height: .8rem;
	outline: none;
	border: #666 .1rem solid;
	border-radius: .5rem;
	margin: .5rem;
}

input[type=range]::-moz-range-thumb {
	border: .05rem solid var(--gray);
	height: .8rem;
	width: .8rem;
	transform: scale(2);
	border-radius: .2rem;
	background: #333;
	cursor: pointer;
	transition-duration: 100ms;
}

input[type=range]:active::-moz-range-thumb {
	border: .05rem solid #888;
	background-color: #444;
}

.slider {
	position: relative;
	min-width: min(var(--max-safe-width) - 1rem, 12rem);
	max-width: calc(var(--max-safe-width) - 1rem);
	height: .4rem;
	border-radius: .2rem;
	margin: 1rem;
	user-select: none;
	background: linear-gradient(to right, #000 0%, #fff 100%);
}

.slider p {
	min-width: 1rem;
	text-align: center;
	transition: var(--qo) .2s;
	translate: -50% calc(-50% + .2rem);
	font-size: 1rem;
	padding: 0 .36rem;
	border-radius: 1rem;
	position: absolute;
	background: none;
	backdrop-filter: blur(.2rem) brightness(var(--bg-brightness));
	outline: var(--ltrans) outset .05rem;
	cursor: grab;
}

.ril {
	height: 0;
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: 1fr;
	width: 17.5rem;
	position: relative;
	top: -2.5rem;
	user-select: none;
}

.ril div {
	text-align: center;
	height: 0;
}

.gradient-text {
	background: linear-gradient(9rad, var(--c1), var(--c2));
	background-clip: text;
	color: transparent;
}

#tt {
	font-family: Exo_2;
	text-wrap: nowrap;
	text-rendering: geometricPrecision;
	--w: 0.96vw;
	font-size: var(--w);
	margin: 1rem;
	width: 100em;
	height: 50em;
	outline: var(--gray-bg) .2em solid;
	display: grid;
	position: relative;
	padding: 0 0.7em 0.7em 0;
	grid-template-rows: 2em repeat(5, 1fr);
	grid-template-columns: 3em repeat(10, 1fr);
	row-gap: 1em;
}

#tt:empty {
	display: none;
}

#tt .num {
	color: var(--light-fg);
	display: block;
	grid-row: 1;
	text-align: center;
	font-size: 2.5em;
	font-weight: 600;
	position: relative;
	top: calc(-0.04 * var(--w));
}

#tt .num:is(.s) {
	font-size: 2.2em;
}

#tt .wkd {
	color: var(--light-fg);
	padding-top: 130%;
	font-size: 3.5em;
	line-height: 0;
	grid-column: 1;
	text-align: center;
}

/*#tt time {
	font-size: 1.6em;
	rotate: -90deg;
	text-align: center;
	position: absolute;
	translate: -50%;
	top: calc(3.5 * var(--w));
	line-height: 1em;
	background: var(--bg);
	padding: .1em .2em;
}*/

#tt .item {
	text-align: center;
	position: relative;
	display: block;
	outline-offset: -0.06em;
}

#tt .item label {
	padding: 0;
	position: absolute;
	translate: -50% -50%;
	left: 50%;
	top: 22%;
	font-weight: 600;
	font-size: calc(3 * var(--w));
}

#tt .item time {
	padding: 0;
	position: absolute;
	top: 59%;
	font-size: calc(1.55 * var(--w));
	left: 50%;
	font-weight: 450;
	translate: -50% -50%;
}

#tt .item .bottom {
	padding: 0;
	margin: 0;
	position: absolute;
	bottom: 16%;
	font-size: calc(1.5 * var(--w));
	translate: -50%;
	white-space: pre;
	font-weight: 350;
	line-height: 0;
}

#tt .bottom:is(.left) { left: 25%; }
#tt .bottom:is(.center) { left: 50%; }
#tt .bottom:is(.right) { left: 75%; }
	
#tt .item:is(.lesson) {
	outline: var(--lighter-gray) calc(0.12 * var(--w)) solid;
}

#tt .item:is(.break) {
	color: var(--light-fg);
	border: var(--gray) calc(0.12 * var(--w)) dashed;
}

#tt .item:not(.last) {
	border-right: none;
}

#tt .item:not(.first) {
	border-left: none;
}

#tt .item:is(.first) {
	border-radius: var(--w) 0 0 var(--w);
}

#tt .item:is(.last) {
	border-radius: 0 var(--w) var(--w) 0;
}

#tt .unhilighted {
	opacity: 0.5;
}
